{% extends 'bookmarks/layout.html' %}
{% load i18n widget_tweaks %}

{% block head %}
  {% translate "Password changed - Linkding" as page_title %}
  {% with page_title=page_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <main class="auth-page" aria-labelledby="main-heading">
    <div class="section-header">
      <h1 id="main-heading">{% translate "Password changed" %}</h1>
    </div>
    <p class="text-success">
      {% translate "Your password was changed successfully." %}
    </p>
  </main>
{% endblock %}
