{% extends "bookmarks/layout.html" %}
{% load widget_tweaks %}

{% block head %}
  {% with page_title="设置 - Linkding" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <main class="settings-page" aria-labelledby="main-heading">
    <h1 id="main-heading">设置</h1>

    {# Profile section #}
    {% if success_message %}
      <div class="toast toast-success mb-4">{{ success_message }}</div>
    {% endif %}
    {% if error_message %}
      <div class="toast toast-error mb-4">{{ error_message }}</div>
    {% endif %}

    <section aria-labelledby="profile-heading">
      <h2 id="profile-heading">个人资料</h2>
      <p>
        <a href="{% url 'change_password' %}">更改密码</a>
      </p>
      <form action="{% url 'linkding:settings.update' %}" method="post" novalidate data-turbo="false">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.theme.id_for_label }}" class="form-label">主题</label>
          {{ form.theme|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            手动选择明暗主题，或基于系统设置自动切换。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.bookmark_date_display.id_for_label }}" class="form-label">书签日期格式</label>
          {{ form.bookmark_date_display|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            书签日期显示为相对日期（多久前），绝对日期，或隐藏。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.bookmark_description_display.id_for_label }}" class="form-label">书签描述
          </label>
          {{ form.bookmark_description_display|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            书签描述与标签同行显示，或另起一行显示。
          </div>
        </div>
        <div
            class="form-group {% if request.user_profile.bookmark_description_display == 'inline' %}d-hide{% endif %}">
          <label for="{{ form.bookmark_description_max_lines.id_for_label }}" class="form-label">书签描述最大行数</label>
          {{ form.bookmark_description_max_lines|add_class:"form-input width-25 width-sm-100" }}
          <div class="form-input-hint">
            限制书签描述最大显示行数
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.display_url.id_for_label }}" class="form-checkbox">
            {{ form.display_url }}
            <i class="form-icon"></i> 显示书签URL
          </label>
          <div class="form-input-hint">
            勾选启用，将在书签标题下显示书签URL。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.permanent_notes.id_for_label }}" class="form-checkbox">
            {{ form.permanent_notes }}
            <i class="form-icon"></i> 永久显示笔记
          </label>
          <div class="form-input-hint">
            勾选启用，笔记将固定显示，而不用单独触发。
            键盘快捷键 <code>e</code> 可以临时显示全部笔记。
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">书签动作</label>
          <label for="{{ form.display_view_bookmark_action.id_for_label }}" class="form-checkbox">
            {{ form.display_view_bookmark_action }}
            <i class="form-icon"></i> 查看
          </label>
          <label for="{{ form.display_edit_bookmark_action.id_for_label }}" class="form-checkbox">
            {{ form.display_edit_bookmark_action }}
            <i class="form-icon"></i> 编辑
          </label>
          <label for="{{ form.display_archive_bookmark_action.id_for_label }}" class="form-checkbox">
            {{ form.display_archive_bookmark_action }}
            <i class="form-icon"></i> 归档
          </label>
          <label for="{{ form.display_remove_bookmark_action.id_for_label }}" class="form-checkbox">
            {{ form.display_remove_bookmark_action }}
            <i class="form-icon"></i> 删除
          </label>
          <div class="form-input-hint">
            为每个书签显示勾选启用的动作
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.bookmark_link_target.id_for_label }}" class="form-label">书签打开方式</label>
          {{ form.bookmark_link_target|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            书签打开位置，当前页面，或新页面。
          </div>
        </div>
        <div class="form-group{% if form.items_per_page.errors %} has-error{% endif %}">
          <label for="{{ form.items_per_page.id_for_label }}" class="form-label">每页书签数量</label>
          {{ form.items_per_page|add_class:"form-input width-25 width-sm-100"|attr:"min:10" }}
          {% if form.items_per_page.errors %}
            <div class="form-input-hint is-error">
              {{ form.items_per_page.errors }}
            </div>
          {% else %}
          {% endif %}
          <div class="form-input-hint">
            每页展示的书签数量。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.sticky_header_controls.id_for_label }}" class="form-checkbox">
            {{ form.sticky_header_controls }}
            <i class="form-icon"></i> 粘性搜索栏
          </label>
          <div class="form-input-hint">
            勾选启用，搜索栏将固定在屏幕顶部显示，而无需到页面顶部操作。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.sticky_pagination.id_for_label }}" class="form-checkbox">
            {{ form.sticky_pagination }}
            <i class="form-icon"></i> 粘性分页
          </label>
          <div class="form-input-hint">
            勾选启用，分页导航条将固定在屏幕底部显示，而无需到页面底部操作。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.sticky_side_panel.id_for_label }}" class="form-checkbox">
            {{ form.sticky_side_panel }}
            <i class="form-icon"></i> 侧边栏跟随
          </label>
          <div class="form-input-hint">
            勾选启用，屏幕宽度足够时侧边栏将跟随屏幕滚动，而无需到页面顶部操作。
            若侧边栏被折叠，则该选项将自动关闭。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.collapse_side_panel.id_for_label }}" class="form-checkbox">
            {{ form.collapse_side_panel }}
            <i class="form-icon"></i> 折叠侧边栏
          </label>
          <div class="form-input-hint">
            勾选启用，侧边栏将默认关闭，为书签列表提供更多空间。侧边栏将被隐藏到抽屉按钮中。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.hide_bundles.id_for_label }}" class="form-checkbox">
            {{ form.hide_bundles }}
            <i class="form-icon"></i> 隐藏过滤器
          </label>
          <div class="form-input-hint">
            侧边栏中将隐藏过滤器面板（仅当你不使用过滤器时勾选此项）。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.tag_search.id_for_label }}" class="form-label">标签搜索</label>
          {{ form.tag_search|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            Strict模式：标签必须有井号前缀  (#)。
            Lax模式：没有井号前缀时，标签也会被搜索到。
            注意，没有井号前缀时，标签和关键词难以区别，因此可能包含非该标签的搜索结果。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.tag_grouping.id_for_label }}" class="form-label">标签聚合</label>
          {{ form.tag_grouping|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            Alphabetical模式：标签将根据首字母聚合。
            Disable模式：标签将不会被聚合。
          </div>
        </div>
        <div class="form-group">
          <details {% if form.auto_tagging_rules.value %}open{% endif %}>
            <summary>
              <span class="form-label d-inline-block">自动标签</span>
            </summary>
            <label for="{{ form.auto_tagging_rules.id_for_label }}" class="text-assistive">自动标签</label>
            <div>
              {{ form.auto_tagging_rules|add_class:"form-input monospace"|attr:"rows:6" }}
            </div>
          </details>
          <div class="form-input-hint">
            基于规则，为书签自动添加标签。
            每行代表一条规则，可以将一个URL，与单个或多个标签进行匹配，例如：
            <pre>youtube.com video
reddit.com/r/Music music reddit</pre>
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.enable_favicons.id_for_label }}" class="form-checkbox">
            {{ form.enable_favicons }}
            <i class="form-icon"></i> 启用 Favicons
          </label>
          <div class="form-input-hint">
            自动加载书签的Favicons，并在每条书签前展示。
            勾选启用，将自动下载所有缺失的favicons。
            该功能默认使用 <b>Google service</b> 下载 favicons.
            如果你不想使用该服务，可以根据 <a
              href="https://linkding.link/options/#ld_favicon_provider"
              target="_blank">options documentation</a> 自定义.
            Icons将在后台下载，可能需要一段时间才能展示。
          </div>
          {% if request.user_profile.enable_favicons and enable_refresh_favicons %}
            <button class="btn mt-2" name="refresh_favicons">刷新 Favicons</button>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.enable_preview_images.id_for_label }}" class="form-checkbox">
            {{ form.enable_preview_images }}
            <i class="form-icon"></i> 启用图片预览
          </label>
          <div class="form-input-hint">
            自动加载书签预览图片，并在书签旁展示。
            勾选启用，将自动下载缺失的预览图片。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.web_archive_integration.id_for_label }}" class="form-label">互联网归档集成（Internet Archive
            integration）</label>
          {{ form.web_archive_integration|add_class:"form-select width-25 width-sm-100" }}
          <div class="form-input-hint">
            启用该功能，将自动在 <a
              href="https://web.archive.org/" target="_blank" rel="noopener">Internet Archive Wayback
            Machine</a>. 上创建快照。
            这可以保存并在之后查看网站被收藏时间点的样子，以防内容失效或被修改。
            若使用该功能，请考虑向 <a href="https://archive.org/donate" target="_blank"
                                               rel="noopener">Internet Archive</a> 捐款。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.enable_sharing.id_for_label }}" class="form-checkbox">
            {{ form.enable_sharing }}
            <i class="form-icon"></i> 启用书签分享
          </label>
          <div class="form-input-hint">
            允许分享书签给其他用户，和查看其他用户分享的书签。
            关闭该功能，将隐藏之前其他用户分享的书签。
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.enable_public_sharing.id_for_label }}" class="form-checkbox">
            {{ form.enable_public_sharing }}
            <i class="form-icon"></i> 启用书签公开分享
          </label>
          <div class="form-input-hint">
            将书签完全公开，无需登录即可访问。
            这意味着每个访问这个实例的人都能通过 <a
              href="{% url 'linkding:bookmarks.shared' %}">shared bookmarks page</a> 页面查看书签。
          </div>
        </div>
        {% if has_snapshot_support %}
          <div class="form-group">
            <label for="{{ form.enable_automatic_html_snapshots.id_for_label }}" class="form-checkbox">
              {{ form.enable_automatic_html_snapshots }}
              <i class="form-icon"></i> 自动创建HTML快照
            </label>
            <div class="form-input-hint">
              添加书签时，自动创建HTML快照。关闭该功能，可以在书签的查看页面手动创建快照。
            </div>
            <button class="btn mt-2" name="create_missing_html_snapshots">创建缺失的HTML快照</button>
          </div>
        {% endif %}
        <div class="form-group">
          <label for="{{ form.default_mark_unread.id_for_label }}" class="form-checkbox">
            {{ form.default_mark_unread }}
            <i class="form-icon"></i> 新增书签默认未读
          </label>
          <div class="form-input-hint">
            添加书签时，默认设置书签为未读状态。
            该设置可在添加书签时，手动修改覆盖。
          </div>
        </div>
        <div class="form-group">
          <details {% if form.custom_css.value %}open{% endif %}>
            <summary>
              <span class="form-label d-inline-block">自定义 CSS</span>
            </summary>
            <label for="{{ form.custom_css.id_for_label }}" class="text-assistive">自定义 CSS</label>
            <div>
              {{ form.custom_css|add_class:"form-input monospace"|attr:"rows:6" }}
            </div>
          </details>
          <div class="form-input-hint">
            允许添加自定义CSS。
          </div>
        </div>
        <div class="form-group">
          <details {% if form.custom_domain_root.value %}open{% endif %}>
            <summary>
              <span class="form-label d-inline-block">自定义域名归一化</span>
            </summary>
            <label for="{{ form.custom_domain_root.id_for_label }}" class="text-assistive">自定义域名归一化</label>
            <div>
              {{ form.custom_domain_root|add_class:"form-input monospace"|attr:"rows:6" }}
            </div>
          </details>
          <div class="form-input-hint">
            每行一个域名。设置后，该域名下所有域名将被归一到指定域名，将影响点击favicon后的筛选结果。<br>
            如：设置example.com，则a.example.com、b.example.com都将归一化到example.com。<br>
            设置example.com和a.example.com，则在上个例子基础上，使a.example.com不被归一化到example.com，而保持a.example.com.
          </div>
        </div>
        <div class="form-group">
          <input type="submit" name="update_profile" value="保存" class="btn btn-primary btn-wide mt-2">
        </div>
      </form>
    </section>

    {# Global settings section #}
    {% if global_settings_form %}
      <section aria-labelledby="global-settings-heading">
        <h2 id="global-settings-heading">全局设置</h2>
        <form action="{% url 'linkding:settings.update' %}" method="post" novalidate data-turbo="false">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ global_settings_form.landing_page.id_for_label }}" class="form-label">落地页</label>
            {{ global_settings_form.landing_page|add_class:"form-select width-25 width-sm-100" }}
            <div class="form-input-hint">
              访问URL根目录时，未登录用户将被重定向至该页面。
            </div>
          </div>
          <div class="form-group">
            <label for="{{ global_settings_form.guest_profile_user.id_for_label }}" class="form-label">访客资料</label>
            {{ global_settings_form.guest_profile_user|add_class:"form-select width-25 width-sm-100" }}
            <div class="form-input-hint">
              用户未登录时使用的用户资料，将影响公开分享书签，包括主题、书签列表设置等。
              你可以使用自己的用户资料，或者为此用途专门创建一个用户资料。
              默认情况下，有着固定设置的标准用户资料将被使用。
            </div>
          </div>
          <div class="form-group">
            <label for="{{ global_settings_form.enable_link_prefetch.id_for_label }}" class="form-checkbox">
              {{ global_settings_form.enable_link_prefetch }}
              <i class="form-icon"></i> 启用链接悬浮预取
            </label>
            <div class="form-input-hint">
              鼠标悬浮在内部链接上时，会预取链接。这可以提高用户体验，但也增加了服务器的加载负担。
            </div>
          </div>

          <div class="form-group">
            <input type="submit" name="update_global_settings" value="保存" class="btn btn-primary btn-wide mt-2">
          </div>
        </form>
      </section>
    {% endif %}

    {# Import section #}
    <section aria-labelledby="import-heading">
      <h2 id="import-heading">导入</h2>
      <p>使用 Netscape HTML 格式导入书签和标签。若导入的书签已存在，原有的书签会被更新。</p>
      <form method="post" enctype="multipart/form-data" action="{% url 'linkding:settings.import' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="import_map_private_flag" class="form-checkbox">
            <input type="checkbox" id="import_map_private_flag" name="map_private_flag">
            <i class="form-icon"></i> 将公开书签作为共享书签导入。
          </label>
          <div class="form-input-hint">
            勾选启用，若导入的书签支持标记书签为public或private（使用 <code>PRIVATE</code> 属性），那么所有非私有书签都会被导入为共享书签，所有私有书签会被导入为私有书签。
          </div>
        </div>
        <div class="form-group">
          <div class="input-group width-75 width-md-100">
            <input class="form-input" type="file" name="import_file">
            <input type="submit" class="input-group-btn btn btn-primary" value="上传">
          </div>
        </div>
      </form>
    </section>

    {# Export section #}
    <section aria-labelledby="export-heading">
      <h2 id="export-heading">导出</h2>
      <p>以 Netscape HTML 格式导出全部书签</p>
      <a class="btn btn-primary" target="_blank" href="{% url 'linkding:settings.export' %}">下载 (.html)</a>
      {% if export_error %}
        <div class="has-error">
          <p class="form-input-hint">
            {{ export_error }}
          </p>
        </div>
      {% endif %}
    </section>

    {# About section #}
    <section class="about" aria-labelledby="about-heading">
      <h2 id="about-heading">关于</h2>
      <table class="table">
        <tbody>
        <tr>
          <td>版本</td>
          <td>{{ version_info }}</td>
        </tr>
        <tr>
          <td rowspan="3" style="vertical-align: top">链接</td>
          <td><a href="https://github.com/sissbruecker/linkding/"
                 target="_blank">GitHub</a></td>
        </tr>
        <tr>
          <td><a href="https://linkding.link/"
                 target="_blank">文档</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/sissbruecker/linkding/blob/master/CHANGELOG.md"
                 target="_blank">更新日志</a></td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>

  <script>
    (function init() {
      const enableSharing = document.getElementById("{{ form.enable_sharing.id_for_label }}");
      const enablePublicSharing = document.getElementById("{{ form.enable_public_sharing.id_for_label }}");
      const bookmarkDescriptionDisplay = document.getElementById("{{ form.bookmark_description_display.id_for_label }}");
      const bookmarkDescriptionMaxLines = document.getElementById("{{ form.bookmark_description_max_lines.id_for_label }}");

      // Automatically disable public bookmark sharing if bookmark sharing is disabled
      function updatePublicSharing() {
        if (enableSharing.checked) {
          enablePublicSharing.disabled = false;
        } else {
          enablePublicSharing.disabled = true;
          enablePublicSharing.checked = false;
        }
      }

      updatePublicSharing();
      enableSharing.addEventListener("change", updatePublicSharing);

      // Automatically hide the bookmark description max lines input if the description display is set to inline
      function updateBookmarkDescriptionMaxLines() {
        if (bookmarkDescriptionDisplay.value === "inline") {
          bookmarkDescriptionMaxLines.closest(".form-group").classList.add("d-hide");
        } else {
          bookmarkDescriptionMaxLines.closest(".form-group").classList.remove("d-hide");
        }
      }

      updateBookmarkDescriptionMaxLines();
      bookmarkDescriptionDisplay.addEventListener("change", updateBookmarkDescriptionMaxLines);

      const collapseSidePanel = document.getElementById("{{ form.collapse_side_panel.id_for_label }}");
      const stickySidePanel = document.getElementById("{{ form.sticky_side_panel.id_for_label }}");
      // Automatically disable the sticky side panel if the side panel is collapsed
      function updateStickySidePanel() {
        if (collapseSidePanel.checked) {
          stickySidePanel.disabled = true;
          stickySidePanel.checked = false;
        } else {
          stickySidePanel.disabled = false;
        }
      }

      updateStickySidePanel();
      collapseSidePanel.addEventListener("change", updateStickySidePanel);
    })();
  </script>

{% endblock %}
