{% extends "bookmarks/layout.html" %}
{% load i18n shared %}

{% block head %}
  {% translate "Edit tag - Linkding" as page_title %}
  {% with page_title=page_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="tags-editor-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">{% translate "Edit tag" %}</h1>
      </div>

      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'tags/form.html' %}
      </form>
    </main>
  </div>
{% endblock %}
