{% extends "bookmarks/layout.html" %}
{% load i18n shared %}

{% block head %}
  {% translate "Add tag - Linkding" as page_title %}
  {% with page_title=page_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="tags-editor-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">{% translate "Add tag" %}</h1>
      </div>

      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'tags/form.html' %}
        <div class="divider"></div>
        <div class="form-group d-flex justify-between">
          <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
          <a href="{% url 'linkding:tags.index' %}" class="btn ml-auto">{% translate "Cancel" %}</a>
        </div>
      </form>
    </main>
  </div>
{% endblock %}
