.bookmarks-form-page {
  main {
    max-width: 550px;
    margin: 0 auto;
  }
}

.bookmarks-form {
  & .has-icon-right > input,
  & .has-icon-right > textarea {
    padding-right: 30px;
  }

  & .form-icon.loading {
    visibility: hidden;
  }

  & .form-group .suffix-button {
    padding: 0;
    border: none;
    height: auto;
    font-size: var(--font-size-sm);
  }

  & .form-group .clear-button,
  & .form-group #refresh-button {
    display: none;
  }

  & .form-group input.modified,
  & .form-group textarea.modified {
    background: var(--primary-color-shade);
  }

  & .form-input-hint.bookmark-exists {
    display: none;
    color: var(--warning-color);
  }

  & .form-input-hint.auto-tags {
    display: none;
    color: var(--success-color);
  }

  & details.notes textarea,
  & details.description textarea {
    box-sizing: border-box;
  }

  & details.description summary {
    position: relative;
  }

  & details.description summary .clear-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  & details.preview-image-container {
    margin-top: 1em;
  }

  & img.preview-image {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
}




