.bundles-page {
  .crud-table {
    svg {
      cursor: grab;
    }

    tr.drag-start {
      --secondary-border-color: transparent;
    }

    tr.dragging > * {
      opacity: 0;
    }
  }

  .list-item[data-folder="False"] .list-item-text {
    padding-left: 1em;
  }
}

.bundles-editor-page {
  &.grid {
    gap: var(--unit-9);
  }

  .form-footer {
    position: sticky;
    bottom: 0;
    border-top: solid 1px var(--secondary-border-color);
    background: var(--body-color);
    padding: var(--unit-3) 0;
  }

  .radio-group {
    & .form-label {
      margin-bottom: var(--unit-1);
    }

    & .form-radio.form-inline {
      margin: 0 var(--unit-2) 0 0;
      padding: 0;
      display: inline-flex;
      align-items: center;
      column-gap: var(--unit-1);
    }

    & .form-icon {
      top: 0;
      position: relative;
    }
  }
  .form-group {
    & .form-row-inline {
      display: flex;
      align-items: center;
      gap: var(--unit-1);
    }
    .form-label-inline {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
}
