{% extends 'bookmarks/layout.html' %}
{% load i18n %}

{% block head %}
  {% translate "Add bookmark - Linkding" as page_title %}
  {% with page_title=page_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <div class="bookmarks-form-page">
    <main aria-labelledby="main-heading">
      <div class="section-header">
        <h1 id="main-heading">{% translate "Add bookmark" %}</h1>
      </div>
      <form action="{% url 'linkding:bookmarks.new' %}" method="post" novalidate ld-form-submit>
        {% include 'bookmarks/form.html' %}
      </form>
    </main>
  </div>
{% endblock %}
