<section aria-labelledby="tags-heading" ld-collapse-button="" data-toggle-storage-key="tagSectionState" data-toggle-target-selector=".section-content">
  <div class="section-header no-wrap">
    <div class="section-title">
      <h2 id="tags-heading">标签</h2>
      {% if user.is_authenticated %}
        {% include "bookmarks/collapsed_button.html" with toggle_class="section-toggle" %}
        <div ld-dropdown class="dropdown dropdown-right ml-auto">
          <button class="btn btn-noborder dropdown-toggle" aria-label="Tabs menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 6l16 0"/>
              <path d="M4 12l16 0"/>
              <path d="M4 18l16 0"/>
            </svg>
          </button>
          <ul class="menu" role="list" tabindex="-1">
            <li class="menu-item">
              <a href="{% url 'linkding:tags.index' %}" class="menu-link">管理标签</a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
  <div id="tag-cloud-container" class="section-content">
    {% include 'bookmarks/tag_cloud.html' %}
  </div>
</section>
