{% load i18n %}
<turbo-frame id="preview">
  {% if bookmark_list.is_empty %}
    <div>
      {% translate "No bookmarks match the current filter." %}
    </div>
  {% else %}
    <div class="mb-4">
      {% blocktranslate trimmed count count=bookmark_list.bookmarks_total %}
        Found {{ count }} matching bookmark.
      {% plural %}
        Found {{ count }} matching bookmarks.
      {% endblocktranslate %}
    </div>
    {% with pagination_frame="preview" %}
      {% include 'bookmarks/bookmark_list.html' %}
    {% endwith %}
  {% endif %}
</turbo-frame>
